*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all-display{
    display: flex;
}

/* SIDE BAR */

.side-bar{
    width: 225px;
    height: 100vh;
    
    background-color: black;
}

.logo-spotify{
    width: 100%;
    max-width: 230px;
    height: 87px;
    /*border: 1px solid cyan;*/
    padding-top: 17px;
    padding-left: 17px;
}

.second-sidebar{
    width: 100%;
    max-width: 230px;
    height: 100px;
    /*border: 1px solid rgb(255, 2, 255);*/
}

.second-tooles{
    list-style: none;
}

.home-tooles{
    color: white;
    font-size: 17px;
    padding-left: 17px;
    padding-bottom: 10px;
}

.cerca-tooles{
    color: grey;
    font-size: 15px;
    padding-left: 17px;
    padding-bottom: 10px;
}

.libreria-tooles{
    color: grey;
    font-size: 15px;
    padding-left: 17px;
    padding-bottom: 10px;
}

.playlist-bar{
    width: 100%;
    max-width: 230px;
    height: 336px;
    /*border: 1px solid rgb(10, 250, 1);*/
}

.titolo-playlist{
    color: white;
    font-size: 15px;
    padding-left: 17px;
    padding-bottom: 10px;
}

.plus-playlist{
    color: grey;
    font-size: 35px;
    padding-left: 17px;
    padding-bottom: 10px;
}

.p-size{
    display: inline;
    font-size: 15px;
}

.p-size2{
    display: inline;
    font-size: 15px;
    padding-left: 5px;
}

.nome-playlist{
    list-style: none;
}

.np{
    color: grey;
    font-size: 15px;
    padding-left: 17px;
    padding-bottom: 10px;
}

.bottom-sidebar{
    width: 100%;
    max-width: 225px;
    height: 80px;
    position: fixed;
    top: 782px;
    left: 0;
    border: 1px solid salmon;
}

.install-bottombar{
    color: grey;
    font-size: 11px;
    padding-left: 17px;
}

.profile-picture{
    color: grey;
    font-size: 22px;
    padding-left: 17px;
    padding-top: 15px;
}

.p-profile{
    display: inline;
    color: white;
    font-size: 15px;
}

/* MAIN WRAP */

.main-wrap{
    flex-grow: 1;
    background-color: #141922;
    
    overflow-y:scroll;
    position: relative;
}

.main-content {  
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
  }
  
  .categories li {
      list-style: none;
      display: inline;
      color: #747272;  
      padding: 0 10px;     
  }

  .categories li a {
      text-transform: uppercase;
      color: #747272;  
      font-weight: 700;
      font-size: 14px;
      text-decoration: none;
  }

  /*CENTRO MAIN*/

.sect-card{
    padding: 15px;
}

.card{
    display: flex;
    gap: 10px;
    flex-wrap: wrap ;
    text-align: center;

}

.wrap-card {
    width: calc(90% / 6);
}

.wrap-card figure {
  position: relative;
}

.wrap-card i {
  font-size: 60px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.wrap-card:hover i {
  display:inline;
  color: yellowgreen;
}


.title-card{
 padding-bottom: 6px;
 color: white;
}

.comment__title-card{
  padding: 10px 0;
}

.suggeriti{
  color: #747272;
  font-weight: 700;
  font-size: 14px;

  
}

.wrap-title {
  padding: 10px;
  text-align: center;
}
.name-song {
  font-size: 16px;
  padding-bottom: 5px;
  color: white;
}
 .subtitle{
  font-size: 14px;
  font-weight: 700;
  color: #747272;
  
}

.circle img{
    border-radius: 999px;
    overflow: hidden;
}


/* BOTTOM BAR */

.bottom-bar{
    height: 89px;
    display: flex;
    background-color: rgb(56, 54, 54);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
}

/* TOP BAR*/

.topstatic-bar{
    height: 86px;
    
    background-color: rgb(56, 54, 54);
    position: fixed;
    top: 0;
    left: 225px;
    width: 100%;
}

.upgrade-banner{
    min-height: 90px;
    background-color: rgb(56, 54, 54);
    position: absolute;
    padding-left: 1405px;
    width: 100%;
    
    display: flex;
    align-items: center;
    
    
}

.upgrade-button{
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    line-height: 35px;
    white-space: nowrap;
    padding: 0 35px;
    border: 1px solid white;
    border-radius: 999px;
    
}

.upgrade-white{
    color: white;
    font-size: 15px;
}


/* LEFT BOX BOTTOM */

.leftbox-music{
    display: flex;
    width: 100%;
    max-width: 250px;
    /*border: 1px solid rgb(30, 255, 0);*/
}

.sinister-boxmusic{
    width: 42px;
    height: 42px;
    padding-left: 10px;
    padding-top: 22px;
    
}

.titlesinister-boxmusic{
    padding-left: 20px;
    padding-top: 28px;
    color: white;
    font-size: 15px;
    
}

.name-boxmusicsinister{
    color: grey;
    font-size: 12px;
}

.icon-boxmusicsinister{    
    width: 50px;
    height: 22px;
    padding-top: 30px;
    padding-left: 40px;
}

.inline{
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.sinister-heart{   
    color: rgb(179, 172, 172);
    font-size: 13px;
}

.sinister-folder{  
    color: rgb(179, 172, 172);
    font-size: 13px;
}

/* CENTER BOX BOTTOM */

.centerbox-music{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    border: 1px solid orange;
    align-items: center;
    padding-top: 15px;
}

.top-tules{
    display: flex;
}

.tooles{
    display: flex;
    gap: 15px;
    font-size: 20px;
    list-style: none;
    color: white;
}

.bottom-tules{
    display: flex;
}

/* RIGHT BOX BOTTOM */

.rightbox-bottom{
    display: flex;
    width: 100%;
    max-width: 250px;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
}

.iconright-bottom{
    display: flex;
    

}

.rightlist-bottom{
    list-style-type: none;
    display: flex;
    gap: 10px;
    font-size: 12px;
    color: white;
}
